:root {
    --grayLightColor: #edf2f4;
    --grayColor: #dee2e6;
    --darkColor: #202020;
    --whiteColor: #ffffff;
    --primaryColor: #2ec4b6;

    --size-8: .8rem;
    --size-16: 1.6rem;
    --size-32: 3.2rem;
}

.mr-16 {
    margin-right: var(--size-16);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grayLightColor);
}

html {
    font-size: 62.5%;
}